<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}" />
        </svg>
        <h2 class="h2"> Exercise Details</h2>
        <p>Learn everything you need to know about your exercises of interest. Enjoy detailed descriptions and videos of
            how to perform these exercises and build up to them with progressions.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}" />
        </svg>
        <h2 class="h2"> Personalized Plans</h2>
        <p>Get exercise routines and diet plans that are specific to your body's condition and fitness goals generated
            by our advanced AI. Adjustments can be made with our professional coaches to ensure that you are satisfied.
        </p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}" />
        </svg>
        <h2 class="h2"> Progess Tracking</h2>
        <p>Keep track of what you have accomplished, ranging from sets/reps on an exercise all the way to your calorie
            intake for the day. Progress is a great motivator.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Supplements</h2>
        <p>Stay informed about fitness supplements and performance-enhancing substances. Armed with knowledge, making
            these decisions becomes simplier.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2"> Community</h2>
        <p>Connect with users that have similar interests and/or goals. Fitness does not have to be done alone!</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2"> Event Planning</h2>
        <p>Make your events visible and searchable by all of our users. An smooth and easy experiences for planners and participants.</p>
    </div>
</div>